#container {
  width: 400px;
  height: 200px;
  border: 1px solid #ccc;
  overflow-y: auto;
}

#output {
  white-space: pre-wrap;
  font-family: monospace;
  padding: 10px;
}

/* Needed to keep line breaks when text is outputted to HTML */
#gameStateText {
  white-space: pre-wrap;
}

/* Needed to hide and reveal divs */
.hide {
  display: none;
}